<h4 class="title">{{ about.text.title }}</h4>

{% for info in about.info %}
    <div class="shadow-sm p-3 mb-3 bg-body-tertiary rounded">
        <div class="d-flex justify-content-center server">
            <div class="jewel-{{ info.serverid }} m-auto">
            </div>
            <div class="info" style="width: 400px !important;">
                <div class="d-flex justify-content-between border-bottom">
                    <div class="name">
                        {{ info.name }}
                    </div>
                    <div class="rate">
                        x{{ info.experience }}
                    </div>
                </div>
                <div>
                    {% if info.status %}
                    <span style="color: #5dbe23">{{ about.text.status.online }}</span>
                    {% else %}
                    <span style="color:#fe4f4f">{{ about.text.status.offline }}</span>
                    {% endif %}
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">
            <span>
                {{ about.text.info.max_level }}
            </span>
            <span>
                {{ info.configuration.maxlevel }} Lv.
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>
                {{ about.text.info.max_master_level }}
            </span>
            <span>
                {{ info.configuration.maxmasterlevel }} Lv.
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>
                {{ about.text.info.experience }}
            </span>
            <span>
               x{{ info.configuration.experience }}
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>
                {{ about.text.info.min_monster_level_up_master_level }}
            </span>
            <span>
                {{ info.configuration.minmoblevelformasterexp }} Lv.
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>
                {{ about.text.info.maximum_zen_in_inventory }}
            </span>
            <span>
                {{ info.configuration.maxinvzen|format_number }} zen
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>
                {{ about.text.info.maximum_zen_in_vault }}
            </span>
            <span>
                {{ info.configuration.maxvaultzen|format_number }} zen
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>
                {{ about.text.info.max_character }}
            </span>
            <span>
                {{ info.configuration.maxcharacc }}
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>
                {{ about.text.info.max_character_party }}
            </span>
            <span>
                {{ info.configuration.maxpartysize }}
            </span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>
                {{ about.text.info.expires_drop_item }}
            </span>
            <span>
                {{ info.configuration.itemdur }}
            </span>
        </li>
    </ul>
{% endfor %}