<div class="bg-white p-3 mb-2 d-flex align-items-baseline rounded-2" style="justify-content: space-between">
    <h5 class="block-title mb-0 text-uppercase">
        {{ template.block.rankingInfo.text.title }}
    </h4>
    <a href="/ranking" class="link-secondary">
        {{ template.block.rankingInfo.text.subtitle }}
    </a>
</div>

<div class="bg-white rounded-2 p-3 overflow-x-auto">
    <table class="table w-100 m-0" style="border-collapse: collapse; border-spacing: 0;">
        <thead>
            <tr>
                <th class="text-custom-1">{{ template.block.rankingInfo.text.table.rank }}</th>
                <th class="text-custom-1 w-50">{{ template.block.rankingInfo.text.table.name }}</th>
                <th class="text-custom-1 text-center">{{ template.block.rankingInfo.text.table.level }}</th>
                <th class="text-custom-1 text-center">{{ template.block.rankingInfo.text.table.reset }}</th>
            </tr>
        </thead>
        <tbody>
            {% if template.block.rankingInfo.row is empty %}
            <tr>
                <td colspan="4" class="text-center">
                    {{ template.block.rankingInfo.text.table.empty }}
                </td>
            </tr>
            {% else %}
            {% for char in template.block.rankingInfo.row %}
            <tr>
                <td>
                    {{ char.rank }}.
                </td>
                <td title="{{ row.name }}">
                    <a href="/character/{{ char.name }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        {{ char.name }}
                    </a>
                </td>
                <td class="text-center">
                    {{ char.level }} Lv.
                </td>
                <td class="text-center">
                    {{ char.reset }}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>