{% for server in template.body.main.block.serverInfo.row %}
<div class="bg-white rounded-2 p-3 mb-2">
    <div class="d-flex justify-content-center server">
        <div class="jewel-{{ server.serverid }} m-auto">
        </div>
        <div class="info">
            <div class="d-flex justify-content-between border-bottom">
                <div class="name">
                    {{ server.name }}
                </div>
                <div class="rate">
                    x{{ server.experience }}
                </div>
            </div>
            <div>
                {% if server.status %}
                <div class="d-flex justify-content-between">
                    <span style="color: #5dbe23">
                        {{ template.body.main.block.serverInfo.text.status.online }}
                    </span>
                    {% if server.playerCount != '' %}
                    <span style="color: #5dbe23">
                        {{ server.playerCount }}
                    </span>
                    {% endif %}
                </div>
                {% else %}
                <span style="color:#fe4f4f">
                    {{ template.body.main.block.serverInfo.text.status.offline }}
                </span>
                {% endif %}
            </div>
            <div>
            </div>
        </div>
    </div>
</div>
{% endfor %}