<div class="bg-white p-3 mb-2 d-flex justify-content-between rounded-2">
    <h4 class="block-title mb-0 text-uppercase">
        {{ template.body.main.block.siginForm.text.title }}
        </h4>
        <a href="/signup" class="link-secondary">
            {{ template.body.main.block.siginForm.text.subtitle }}
        </a>
</div>

<div class="bg-white rounded-2 p-3">
    <form autocomplete="on" method="post" name="sigin" action="/sigin">
        <div class="mb-3">
            <label for="loginName" class="form-label">
                {{ template.body.main.block.siginForm.text.form.username }}
            </label>
            <input type="text" id="loginName" name="sigin[loginName]" class="form-control"
                minlength="{{ template.body.main.block.siginForm.config.loginName.min_length }}"
                maxlength="{{ template.body.main.block.siginForm.config.loginName.max_length }}"
                pattern="^[A-Za-z0-9]+$" autocomplete="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">
                {{ template.body.main.block.siginForm.text.form.password }}
            </label>
            <input type="password" id="password" name="sigin[password]" class="form-control"
                minlength="{{ template.body.main.block.siginForm.config.password.min_length }}"
                maxlength="{{ template.body.main.block.siginForm.config.password.max_length }}"
                pattern="^[A-Za-z0-9]+$" autocomplete="current-password" required>
        </div>
        <div class="d-flex align-items-baseline justify-content-between">
            <button type="submit" class="btn btn-md text-decoration-none my-auto" style="background-color: #c7ede6;" name="submit"> 
                {{ template.body.main.block.siginForm.text.form.submit }}
            </button>
            <div>
                <a href="/forgotpassword" class="d-block link-secondary">
                    {{ template.body.main.block.siginForm.text.form.forgot_password }}
                </a>
                <a href="/signup" class="d-block link-secondary">
                    {{ template.body.main.block.siginForm.text.form.register }}
                </a>
            </div>
        </div>
    </form>
</div>
