<div class="d-flex justify-content-between">
    <h4 class="title">{{ character.text.title }}</h4>
    <span>{{ character.info.name }}</span>
</div>

<div class="row">
    <div class="col-12 col-lg-6 d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center align-self-start text-center char">
            <div class="rounded-circle border border-dark avatar-{{ character.info.class.id }}"></div>
            <span class="fw-bold font-monospace">{{ character.info.location.map }}</span>
            <span class="font-monospace">{{ 'x:' ~ character.info.location.x ~ ' y:' ~ character.info.location.y}}</span>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between">
                <span>
                    {{ character.text.name }}
                </span>
                <span class="fw-bold">
                    {{ character.info.name }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>
                    {{ character.text.class }}
                </span>
                <span class="class-{{ character.info.class.id }}">
                    {{ character.info.class.name }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    {{ character.text.guild }}
                </div>
                <div>
                    {% if character.info.guild %}
                    {{ character.info.guild.logo|raw }}
                    <a href="/guild/{{ character.info.guild.name }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                        {{ character.info.guild.name }}
                    </a>
                    {% else %}
                    <span class="text-secondary">
                        {{ character.text.noguild }}
                    </span>
                    {% endif %}
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>
                    {{ character.text.resets }}
                </span>
                <span>
                    {{ character.info.stats.resets }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>
                    {{ character.text.level }}
                </span>
                <span>
                    {{ character.info.stats.level }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>
                    {{ character.text.strength }}
                </span>
                <span>
                    {{ character.info.stats.strength|format_number }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>
                    {{ character.text.agility }}
                </span>
                <span>
                    {{ character.info.stats.agility|format_number }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>
                    {{ character.text.vitality }}
                </span>
                <span>
                    {{ character.info.stats.vitality|format_number }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>
                    {{ character.text.energy }}
                </span>
                <span>
                    {{ character.info.stats.energy|format_number }}
                </span>
            </li>
            {% if character.info.stats.leadership %}
            <li class="list-group-item d-flex justify-content-between">
                <span>
                    {{ character.text.leadership }}
                </span>
                <span>
                    {{ character.info.stats.leadership|format_number }}
                </span>
            </li>
            {% endif %}
        </ul>
    </div>
</div>