<div class="d-flex justify-content-between">
    <h4 class="title">{{ ranking[ranking.config.subpage].text.title }}</h4>
    <span>{{ ranking[ranking.config.subpage].text.subtitle }}</span>
</div>

<ul class="nav nav-tabs justify-content-center">
{% for nav in ranking.menu %}
<li class="nav-item">
    <a class="nav-link {{ nav.active }} text-decoration-none fw-bold" style="color: #587c95;" aria-current="page" href="{{ nav.link }}">{{ nav.name }}</a>
</li>
{% endfor %}
</ul>

{% if ranking.config.subpage == 'character' %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="text-custom-1">{{ ranking.character.text.table.rank }}</th>
            <th scope="col" class="text-custom-1">{{ ranking.character.text.table.character }}</th>
            <th scope="col" class="text-custom-1">{{ ranking.character.text.table.class }}</th>
            <th scope="col" class="text-custom-1">{{ ranking.character.text.table.level }}</th>
            <th scope="col" class="text-custom-1">{{ ranking.character.text.table.reset }}</th>
        </tr>
    </thead>
    <tbody>
        {% if ranking.character.row is empty %}
        <tr>
            <td colspan="5" class="text-center"> {{ ranking.character.text.table.empty }}</td>
        </tr>
        {% else %}
        {% for char in ranking.character.row %}
        <tr class="ranking">
            <td class=" text-center rank">
                {% if char.rank == 1 or char.rank == 2 or char.rank == 3 %}
                <span class=" d-block medal rank rank-{{ char.rank }}"></span>
                {% else %}
                {{ char.rank }}.
                {% endif %}
            </td>
            <td><a href="/character/{{ char.name }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ char.name }}</a></td>
            <td class="class-{{ char.class.id }}">{{ char.class.name }}</td>
            <td>{{ char.level }} Lv.</td>
            <td>{{ char.reset }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% elseif(ranking.config.subpage == 'guild') %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="text-custom-1">{{ ranking.guild.text.table.rank }}</th>
            <th scope="col" class="text-custom-1">{{ ranking.guild.text.table.name }}</th>
            <th scope="col" class="text-custom-1">{{ ranking.guild.text.table.score }}</th>
            <th scope="col" class="text-custom-1">{{ ranking.guild.text.table.members }}</th>
        </tr>
    </thead>
    <tbody>
        {% if ranking.guild.row is empty %}
        <tr>
            <td colspan="4" class="text-center"> {{ ranking.guild.text.empty }}</td>
        </tr>
        {% else %}
        {% for guild in ranking.guild.row %}
        <tr class="ranking">
            <td class=" text-center rank">
                {{ guild.rank }}.
            </td>
            <td>
                <a href="/guild/{{ guild.name }}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                    {{ guild.logo|raw }} {{ guild.name }}
                </a>
            </td>
            <td>{{ guild.score }}</td>
            <td>{{ guild.guildmember }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endif %}