<div class="d-flex justify-content-between">
    <h4 class="title">{{ ranking[ranking.config.subpage].text.title }}</h4>
    <span>{{ ranking[ranking.config.subpage].text.subtitle }}</span>
</div>

<ul class="nav nav-tabs justify-content-center">
{% for nav in ranking.menu %}
<li class="nav-item">
    <a class="nav-link {{ nav.active }} text-decoration-none fw-bold" style="color: #587c95;" aria-current="page" href="{{ nav.link }}">{{ nav.name }}</a>
</li>
{% endfor %}
</ul>

{% if ranking.config.subpage == 'character' %}
<table class="table table-striped caption-buttom">
    <thead>
        <tr>
            <th scope="col" class="text-custom-1">{{ ranking.character.text.table.rank }}</th>
            <th scope="col" class="text-custom-1">{{ ranking.character.text.table.character }}</th>
            <th scope="col" class="text-custom-1">{{ ranking.character.text.table.class }}</th>
            <th scope="col" class="text-custom-1">{{ ranking.character.text.table.level }}</th>
        </tr>
    </thead>
    <tbody>
        {% if ranking.character.row is empty %}
        <tr>
            <td colspan="4" class="text-center"> {{ ranking.character.text.table.empty }}</td>
        </tr>
        {% else %}
        {% for key, char in ranking.character.row %}
        <tr class="ranking">
            <td class=" text-center rank">
                {% if key == 1 or key == 2 or key == 3 %}
                <span class=" d-block medal rank rank-{{ key }}"></span>
                {% else %}
                {{ key }}.
                {% endif %}
            </td>
            <td><a href="/character/{{ char[0] }}" class="text-decoration-none fw-bold" style="color: #587c95;">{{ char[0] }}</a></td>
            <td class="class-{{ char[3] }}">{{ char[1] }}</td>
            <td>{{ char[2] }} Lv.</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    <caption>{{ ranking.character.text.lifetime }}</caption>
</table>
{% elseif(ranking.config.subpage == 'guild') %}

<table class="table table-striped caption-buttom">
    <thead>
        <tr>
            <th scope="col" class="text-custom-1">{{ ranking.guild.text.table.rank }}</th>
            <th scope="col" class="text-custom-1">{{ ranking.guild.text.table.name }}</th>
            <th scope="col" class="text-custom-1">{{ ranking.guild.text.table.score }}</th>
            <th scope="col" class="text-custom-1">{{ ranking.guild.text.table.members }}</th>
        </tr>
    </thead>
    <tbody>
        {% if ranking.guild.row is empty %}
        <tr>
            <td colspan="4" class="text-center"> {{ ranking.guild.text.empty }}</td>
        </tr>
        {% else %}
        {% for key, guild in ranking.guild.row %}
        <tr class="ranking">
            <td class=" text-center rank">
                {{ key }}.
            </td>
            <td>
                <a href="/guild/{{ guild[0] }}" class="text-decoration-none fw-bold d-flex align-items-center gap-2" style="color: #587c95;">
                    {{ guild[1]|raw }} {{ guild[0] }}
                </a>
            </td>
            <td class="class-{{ guild[3] }}">{{ guild[2] }}</td>
            <td>{{ guild[3] }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    <caption>{{ ranking.guild.text.lifetime }}</caption>
</table>
{% endif %}